<div class="navbar">
  <div class="navbar-internal">
    <div class="navbar-left">
      <div class="navbar-logo-group no-select">
        <div class="navbar-application-name">Http Security</div>
      </div>
      <div class="navbar-links">
        <a class="navbar-link no-select" [ngClass]="{'navbar-link-active': tabPos == 0}" (click)="clickTab(0)">Http</a>
        <a class="navbar-link no-select" [ngClass]="{'navbar-link-active': tabPos == 1}" (click)="clickTab(1)">Https</a>
      </div>
    </div>
  </div>
</div>
<div class="main-body">
  <div class="main-body-client-input">
    <div class="main-body-internal" (keypress)="enterEvent($event)">
      <div *ngIf="tabPos == 0" class="password-enter-header">Http Insecure Login</div>
      <div *ngIf="tabPos == 1" class="password-enter-header">Https Secure Login</div>
      <div class="general-input-group">
        <div class="general-input-group-label">Username</div>
        <input class="general-gray-input" [(ngModel)]="username">
      </div>
      <div class="general-input-group">
        <div class="general-input-group-label">Password</div>
        <input class="general-gray-input" [(ngModel)]="password" type="password">
      </div>
      <button *ngIf="tabPos == 0" class="submit-btn" (click)="httpRequest()">Submit</button>
      <button *ngIf="tabPos == 1" class="submit-btn" (click)="httpsRequest()">Submit</button>
    </div>
  </div>
  <div class="main-body-logs">
    <div class="logs-title">
      <span>Logs</span>
      <div class="clear-btn no-select" (click)="clickClear()">Clear</div>
    </div>
    <div class="logs-input-window">
      <div class="log-txt" *ngFor="let log of logs">
        <span>{{log.time | date:'yyyy-MM-dd hh:mm:ss.SSS'}}</span>
        <div *ngIf="log.state == 0" class="info-msg">INFO</div>
        <div *ngIf="log.state == 1" class="error-msg">ERROR</div>
        <div style="display: inline-block" [innerHTML]="log.msg"></div>
      </div>
    </div>
  </div>
</div>
