
$primary-color: #2e3d4e;
$error-color: #e74c3c;
$font-family: 'Open Sans', sans-serif;
$fab-size: 40px;

.navbar{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #2e3d4e17;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-internal{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar-logo{
  height: 40px;
  margin-right: 12px;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.navbar-application-name{
  font-family: $font-family;
  color: #393939;
  font-weight: 700;
  font-size: 22px;
}

.navbar-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.navbar-link{
  font-family: $font-family;
  color: #393939;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.navbar-link:hover{
  background-color: #2e3d4e17;
  transition: 0.2s;
}

.navbar-link-active{
  background-color: #2e3d4e17;
  transition: 0.2s;
}

.main-body{
  height: calc(100vh - 51px);
  width: 100%;
  display: flex;
}

.main-body-client-input{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.main-body-logs{
  width: 60%;
  height: 100%;
  background-color: #1D2536;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-body-internal{
  width: 95%;
  max-width: 500px;
}

.submit-btn{
  width: 100%;
  height: 42px;
  margin-top: 40px;
  border-radius: 8px;
  background-color: #2e3d4e;
  font-family: $font-family;
  color: white;
  cursor: pointer;
}

.logs-input-window{
  width: calc(95% - 30px);
  padding: 15px;
  height: calc(95% - 82px);
  background-color: #545C74;
  overflow-y: auto;
}

.logs-title{
  font-family: $font-family;
  font-weight: 700;
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.clear-btn{
  font-family: $font-family;
  font-weight: 500;
  color: dodgerblue;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.log-txt{
  font-family: $font-family;
  color: white;
  font-weight: 500;
  padding-top: 10px;
  font-size: 12px;
}

.info-msg{
  color: #3498DB;
  min-width: 60px;
  display: inline-block;
  text-align: center;
}

.error-msg{
  color: #E74C3C;
  min-width: 60px;
  display: inline-block;
  text-align: center;
}

.ok-msg{
  color: #2ECC71;
}

.password-enter-header{
  width: 100%;
  font-family: $font-family;
  margin-bottom: 40px;
  color: #393939;
  font-size: 22px;
  font-weight: 700;
}
