$primary-color: #2e3d4e;
$error-color: #e74c3c;
$font-family: 'Open Sans', sans-serif;
$fab-size: 40px;

@import "~@fortawesome/fontawesome-free/css/all.min.css";

body{
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html{
  height: 100%;
}

button:focus{
  outline: none;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

.shadow{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}


.fa-spinner{
  margin-right: 15px;
}

.loading {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation-normal 2s infinite linear;
}

@keyframes rotation-normal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.general-input-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.general-header-cont{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.general-input-group-label{
  font-family: $font-family;
  color: #797979;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.general-gray-input{
  width: calc(100% - 20px);
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: #393939;
  font-family: $font-family;
  border-radius: 4px;
  border: 1px solid #f7f7f9;
  background-color: #f7f7f9;
}
